* {
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

body {
     background-attachment: fixed;
     background-size: cover;
    
}

#map {
    height: 500px;
    width: 100%;
    margin-top: 20px;
}

.filtro {
    margin-bottom: 10px;
}


/*
input,
select,
textarea {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    width: 250px;
}/*
.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #00010a;
  height: 8vh;
}

/* ====================================== MENU ====================================*/

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fd01019b;
  height: 8vh;
} 

a {
  color: #fff;
  transition: 0.3s;
}
a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.nav-list {
  list-style: none;
  display: flex;
}
.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  cursor: pointer;
  display: none;
}
.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

/* ====== responsivo ====== */
@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2 {
  opacity: 0;
}
.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

/*------------------------------------ FORM PAGE ----------------------------------*/

.divbanner{
    display: flex;
    width: 100%;
    padding: 20px;
    align-items: flex-start;
}

.bannerinfos > img{
    width: 100%;
}

.container{
    display: flex;
    width: 100%;
    padding: 20px;
    align-items: flex-start;
}

.imgbox{
    width: 50%;
}

.imgbox > img {
    width: 100%;
}

.formbox{
   /* position: relative;
    transform: TranslateX(95%);*/
    background: #fcfcfc36;
    width: 50%;
    height: 343.19px;
    /*align-items: center;  height: 60vh;*/
    justify-content: center;
    box-shadow: 10px 10px  #43512982;
    backdrop-filter: blur(8px);
}

.formbox:hover{
    background: rgba(197, 172, 236, 0.397);
    transform: translateY(-4px);
}

#form-denuncia{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    
}

.alinha{
    position:relative;
    display: flex;
    padding-left: 10px;
    margin: 10px;
    width: 100%;
    height: auto;
    gap: 50px;
    /*background-color: white;*/
}

#campos{
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 5px;
    border-color: rgb(241, 224, 201);
}

#formbtn {
    display: inline-block;
    width: auto;
    cursor: pointer;
    background-color: #435129;
    color: white;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 8px;
    align-self: center; /* deixa centralizado */
}
#formbtn:hover {
    box-shadow: 5px 10px rgba(6, 6, 6, 0.237);
}

/*#optcor:hover {
    background-color: #D6B700;
    transition: transform 0.3s ease, background-color 0.3s ease;
    transform: translate3d(0, 0, 10px) rotateX(5deg);
}*/

.container-minidivs {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
 
}


.mini-card {
  background: rgba(67, 81, 41, 0.156);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 18px;
  padding: 1.5rem 1.4rem 1.4rem;
  width: 320px;
  text-align: center;
  backdrop-filter: blur(8px);
  transition: 0.3s;
}

.mini-card:hover {
  transform: translateY(-4px);
  background: rgba(255, 255, 255, 0.14);
}

.mini-card img {
  width: 100%;          /* tamanho da imagem */
  height: auto;
  margin-bottom: 1rem;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mini-card > #araucariaimg{
  width: 50%;          /* tamanho da imagem */
  height: auto;
  margin-bottom: 1rem;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mini-texto h4 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: #397d27;
}

.mini-texto p {
  font-size: 0.9rem;
  line-height: 1.5;
  color: #000305;
}

.card-final {
  margin: 10px;
  position: relative;
  transform: translate(50%);
  background: linear-gradient(45deg, #e3061523 , #d6b60048, #43512916);
  border: none;
  border-radius: 18px;
  padding: 1.5rem 1.4rem 1.4rem;
  width: 50%;
  text-align: center;
  backdrop-filter: blur(8px);
  transition: 0.3s;
}

.card-final > img {
    width: 100%;          /* tamanho da imagem */
  height: auto;
  margin-bottom: 1rem;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-final:hover {
  
  background: rgba(255, 255, 255, 0.14);
}
