html, body {
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    margin: 20px;
}

#map {
    height: 500px;
    width: 100%;
    margin-top: 20px;
}

.filtro {
    margin-bottom: 10px;
}


/*
input,
select,
textarea {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    width: 250px;
}/*

/*------------------------------------ FORM PAGE ----------------------------------*/

.logodiv{
    height: auto;
}

.container{
    display: flex;
    width: 100%;
    padding: 20px;
    
    align-items: flex-start;
}

.imgbox{
    width: 50%;
}

.imgbox > img {
    width: 100%;
}

.formbox{
   /* position: relative;
    transform: TranslateX(95%);*/
    background-color: rgba(238, 211, 211, 0.61);
    width: 50%;
    /*align-items: center;  height: 60vh;*/
    justify-content: center;
    box-shadow: 10px 10px  #43512982;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    
}

.alinha{
    position:relative;
    display: flex;
    padding-left: 10px;
    margin: 10px;
    width: 100%;
    height: auto;
    gap: 50px;
    /*background-color: white;*/
}

#campos{
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 5px;
    border-color: rgb(241, 224, 201);
}

#formbtn {
    display: inline-block;
    width: auto;
    cursor: pointer;
    background-color: #435129;
    color: white;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 8px;
    align-self: center; /* deixa centralizado */
}
#formbtn:hover {
    box-shadow: 5px 10px rgba(6, 6, 6, 0.237);
}

/*#optcor:hover {
    background-color: #D6B700;
    transition: transform 0.3s ease, background-color 0.3s ease;
    transform: translate3d(0, 0, 10px) rotateX(5deg);
}*/

.mini-card {
  background: rgba(150, 122, 196, 0.397);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 18px;
  padding: 1.5rem 1.4rem 1.4rem;
  width: 320px;
  text-align: center;
  backdrop-filter: blur(8px);
  transition: 0.3s;
}

.mini-card:hover {
  transform: translateY(-4px);
  background: rgba(255, 255, 255, 0.14);
}

.mini-card img {
  width: 90px;          /* tamanho da imagem */
  height: auto;
  margin-bottom: 1rem;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mini-texto h4 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: #060e7e;
}

.mini-texto p {
  font-size: 0.9rem;
  line-height: 1.5;
  color: #000305;
}

